body{
    background-image: url(https://media.istockphoto.com/id/133409400/vi/anh/l%C3%B4ng-xanh.jpg?s=2048x2048&w=is&k=20&c=qfZk1xcahnRX0zK1Wt8gcSg4q6NiUqDjioZADZ5qBNY=);
    background-size: cover;
}
h1{
    color: yellow;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
a:hover{
    color: red;
    font-size: large;
}

.ChangeColor:visited{
    color: green;
}

h3:target{
    color: red;
}
